Repository spacetelescope/hstcal, pull requests merged in 2018-10, with the labels that each got.

#366 WFC3 CTE - fix out of bounds memory access
  pkg/wfc3/calwf3/wf3cte/wf3cte.c
Labels: WFC3, bug, changes-data

#368 Bump calwf3 ver to 3.5.0
  pkg/wfc3/calwf3/include/wf3version.h
Labels: WFC3

#361 DOC: Fix typo in JenkinsfileRT
  JenkinsfileRT
Labels: testing
