Repository spacetelescope/hstcal, pull requests merged in 2018-08, with the labels that each got.

#312 Update ACS BLEVCORR routines to accommodate new supported subarrays
  pkg/acs/calacs/acsccd/blev_funcs_postsm4.c
  pkg/acs/calacs/acsccd/doblev_v504.c
  pkg/acs/calacs/acsccd/doccd.c
  pkg/acs/calacs/acsccd/findover.c
  pkg/acs/calacs/include/acsversion.h
  pkg/acs/calacs/lib/getacskeys.c
Labels: ACS, New feature, changes-data, enhancement, refactor

#335 Make acs->nimsets = findTotalNumberOfImsets() conditional on forwarModelOnly
  include/str_util.h
  lib/str_util.c
  lib/wscript
  pkg/acs/calacs/acs2d/acs2d.c
  pkg/acs/calacs/acsccd/acsccd.c
  pkg/acs/calacs/acscte/acscte.c
  pkg/acs/calacs/acsrej/acsrej_check.c
  pkg/acs/calacs/include/acsinfo.h
  pkg/acs/calacs/include/getacskeys.h
  pkg/acs/calacs/lib/getacskeys.c
Labels: ACS, bug, refactor, regression

#337 Updated version in header files.
  include/hstio.h
  pkg/acs/calacs/include/acsversion.h
Labels: task

#338 Fix to use an existing variable in an if clause.
  pkg/acs/calacs/lib/getacskeys.c
Labels: ACS, bug, regression

#71 [EXP] Proof of concept of a new way to do regression test
  .gitignore
  .travis.yml
  Jenkinsfile
  JenkinsfileRT
  README.md
  tests/__init__.py
  tests/acs/__init__.py
  tests/acs/test_hrc.py
  tests/acs/test_sbc.py
  tests/acs/test_wfc_asn.py
  tests/acs/test_wfc_single.py
  tests/acs/test_wfc_sub.py
  tests/conftest.py
  tests/helpers.py
  tests/stis/__init__.py
  tests/stis/test_lev1_fuvspec.py
  tests/test_helpers.py
  tests/wfc3/__init__.py
  tests/wfc3/test_ir_01.py
Labels: enhancement, testing
