Repository spacetelescope/hstcal, pull requests merged in 2019-09, with the labels that each got.

#410 Fix PATH value to allow tests to run.
  Jenkinsfile
  JenkinsfileRT
Labels: bug

#439 Update ACS tests to ignore additional keywords
  tests/acs/test_hrc.py
  tests/acs/test_hrc_single.py
  tests/acs/test_sbc.py
  tests/acs/test_wfc_asn.py
  tests/acs/test_wfc_single.py
  tests/acs/test_wfc_sinkcorr.py
  tests/acs/test_wfc_sub.py
Labels: regression, testing

#436 PHOTMODE keyword updated with MJD for SBC
  pkg/acs/calacs/Dates
  pkg/acs/calacs/History
  pkg/acs/calacs/Updates
  pkg/acs/calacs/acs2d/photmode.c
  pkg/acs/calacs/include/acsversion.h
Labels: ACS, changes-data, enhancement, priority: high
