Repository spacetelescope/hstcal, pull requests merged in 2020-05, with the labels that each got.

#473 MNT: Enforce C99
  wscript
Labels: bug, build

#471 Fix travis
  .ci/bin/check_exec
  .travis.yml
Labels: bug, testing

#485 Use -std=gnu99
  wscript
Labels: bug, build

#475 Modified "dodqi" to accommodate the A-to-D saturation threshold
  pkg/acs/calacs/Dates
  pkg/acs/calacs/History
  pkg/acs/calacs/Updates
  pkg/acs/calacs/include/acs.h
  pkg/acs/calacs/include/acsinfo.h
  pkg/acs/calacs/include/acsversion.h
  pkg/acs/calacs/lib/acsinfo.c
  pkg/acs/calacs/lib/dodqi.c
  pkg/acs/calacs/lib/getccdtab.c
  tests/acs/test_hrc_single.py
Labels: ACS, enhancement

#486 Free aname after use
  pkg/stis/calstis/cs6/idtalg/calstis6idt.c
Labels: STIS, bug

#487 Free cp after use
  pkg/acs/calacs/lib/parsedate.c
Labels: ACS, bug

#488 TST: Travis shall pass
  .travis.yml
Labels: bug, testing

#470 BUG: main2d not setting suffix correctly
  pkg/acs/calacs/acs2d/main2d.c
Labels: ACS, bug
