Repository spacetelescope/hstcal, pull requests merged in 2024-02, with the labels that each got.

#603 MNT: Bump checkout version
  .github/workflows/cmake.yml
Labels: testing

#605 Add M1 runner
  .github/workflows/cmake.yml
Labels: installation, testing, build

#607 PR auto labeler
  .github/labeler.yml
  .github/workflows/open_actions_pr.yml
Labels: infrastructure
