Repository spacetelescope/hstcal, pull requests merged in 2024-06, with the labels that each got.

#613 Update INSTALL.md
  INSTALL.md
Labels: doc

#608 Update LICENSE year
  LICENSE.txt
Labels: doc

#614 Revert commit 0276e46 as it was pushed prematurely
  pkg/wfc3/Dates
  pkg/wfc3/History
  pkg/wfc3/Updates
  pkg/wfc3/include/wf3version.h
  pkg/wfc3/lib/wf32d/photmode.c
Labels: WFC3, changes-data

#616 Move test dependency installation to test_cmds list
  JenkinsfileRT
Labels: testing
