Repository spacetelescope/hstcal, pull requests merged in 2024-11, with the labels that each got.

#622 MNT: Use hash for Action workflow versions and update if needed
  .github/workflows/cmake.yml
  .github/workflows/open_actions_pr.yml
Labels: testing, build

#609 HLA-1133/1241/1288 Implementation of ACS Serial CTE correction
  ctegen2/ctegen2.h
  ctegen2/ctehelpers.c
  pkg/acs/Dates
  pkg/acs/History
  pkg/acs/Updates
  pkg/acs/include/acs.h
  pkg/acs/include/acsversion.h
  pkg/acs/lib/CMakeLists.txt
  pkg/acs/lib/acscte/docte.c
  pkg/acs/lib/acscte/dopcte-gen2.c
  pkg/acs/lib/acscte/dopcte-gen3.c
  pkg/acs/lib/acscte/dopcte.c
Labels: ACS, New feature, changes-data

#625 cmake: Ensure hardlink creation occurs after linking
  pkg/acs/CMakeLists.txt
Labels: ACS
