Repository spacetelescope/hstcal, pull requests merged in 2025-05, with the labels that each got.

#648 TST: We do not use Jenkins no more
  .github/labeler.yml
  JenkinsfileRT
  tests/helpers.py
Labels: testing, infrastructure

#649 DOC: Clean up install instructions
  INSTALL.md
Labels: doc, build

#654 MNT: Remove unused ACS files, remove unused slocount file, fix README, update license year
  .sloccount
  LICENSE.txt
  pkg/acs/Errors
  pkg/acs/ToDo
  pkg/acs/Warnings
  pkg/acs/lib/README
  pkg/acs/lib/acssum/Notes
Labels: ACS, infrastructure, doc, clean-up

#656 MNT: Delete unused release_tools directory
  release_tools/de_numrec
  release_tools/numrec.txt
  release_tools/numrec_list.txt
Labels: build, clean-up

#652 Trailer file messaging clean-up
  pkg/acs/lib/acsccd/acsccd.c
  pkg/acs/lib/acsccd/blevdrift.c
  pkg/acs/lib/acsccd/dobias.c
  pkg/acs/lib/acsccd/doblev.c
  pkg/acs/lib/acsccd/doccd.c
  pkg/acs/lib/acsccd/dofwsat.c
  pkg/acs/lib/acsccd/getacsflag.c
  pkg/acs/lib/acscte/docte.c
  pkg/acs/lib/acscte/getcteflag.c
  pkg/acs/lib/acsrej/acsrej_do.c
  pkg/acs/lib/acsrej/cr_scaling.c
  pkg/acs/lib/acsrej/readpar.c
  pkg/acs/lib/bin2d.c
  pkg/acs/lib/calacs/acstable.c
  pkg/acs/lib/calacs/calacs.c
  pkg/acs/lib/calacs/getflags.c
  pkg/acs/lib/calacs/sciflags.c
  pkg/acs/lib/getccdtab.c
  pkg/acs/lib/mkoutname.c
  pkg/acs/lib/prinfo.c
  pkg/acs/lib/trim.c
  pkg/acs/lib/trim2d.c
  pkg/acs/src/mainsum.c
Labels: ACS

#662 Rename ACSInfo to CALACSInfo
  pkg/acs/include/calacs.h
  pkg/acs/lib/calacs/acsinit.c
  pkg/acs/lib/calacs/acsmember.c
  pkg/acs/lib/calacs/calacs.c
  pkg/acs/lib/calacs/getsciinfo.c
  pkg/acs/lib/calacs/sciflags.c
Labels: ACS

#661 DOC: Update README
  README.md
Labels: doc

#645 Fixes incompatible pointer type error
  pkg/acs/lib/acscte/docte.c
Labels: ACS

#646 cmake: Add option to enable AddressSanitizer
  .github/workflows/cmake.yml
  CMakeLists.txt
  INSTALL.md
Labels: doc, build
