Repository spacetelescope/hstcal, pull requests merged in 2025-07, with the labels that each got.

#667 Build system fixups
  .ci/bin/dist
  .ci/bin/git_version
  .github/workflows/cmake.yml
  .github/workflows/docker.yml
  CMakeLists.txt
  cmake/Distinfo.cmake
  cmake/DistinfoArchive.cmake
  cmake/GitVersion.cmake
  config.h.in
  include/hstcalversion.h
  lib/hstcalversion.c
Labels: testing, doc, build

#671 CI: Disable Stream 10 docker image
  .github/workflows/docker.yml
Labels: testing

#674 RFC: Move bias shift code out of doccd.c (try 2)
  .gitignore
  pkg/acs/include/acs.h
  pkg/acs/lib/CMakeLists.txt
  pkg/acs/lib/acsccd/blev_func_main.c
  pkg/acs/lib/acsccd/dobiasshift.c
  pkg/acs/lib/acsccd/doblev.c
  pkg/acs/lib/acsccd/doccd.c
  pkg/acs/lib/acsccd/dodarktime.c
Labels: ACS, clean-up

#681 BUG: Fix out of bounds overscan indexing for subarray
  pkg/acs/lib/acsccd/blev_func_main.c
Labels: bug, ACS
