Repository spacetelescope/hstcal, pull requests merged in 2025-04, with the labels that each got.

#637 TST: Replace find_executable with shutil.which
  tests/helpers.py
Labels: testing

#641 allocAsnInfo: Allocate the product array using the number of products
  pkg/acs/lib/calacs/acstable.c
Labels: bug, ACS

#642 allocSingleGroupHeader: Allocate size of the struct, not the pointer
  hstio/hstio.c
Labels: bug, hstio
